<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Fretes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let frete of listafrete;" lines="full" class="ion-text-wrap">
    <ion-item>
      <ion-label>
        <h2 margin>
          {{ frete.ds_cidade_origem }} / {{ frete.ds_estado_origem}} para
          {{ frete.ds_cidade_destino }} / {{frete.ds_estado_destino}}
          <br>
          Preço: {{frete.preco}} &nbsp;&nbsp; Produto: {{frete.produto}}
        </h2>
        <!--Data da Postagem: {{ frete.data_postagem }}-->
      </ion-label>
      <ion-button (click)="openFreteDetalhe(frete)">
        Detalhes
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>