<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Smart Frete
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="box">
      <div class="centralizar-texto">
        <h1>Bem vindo ao Smart Frete!</h1><br>
        <h2>Seu aplicativo efetua o tempo ao buscar fretes</h2><br>

        <h4>Se você é caminhoneiro, clique no botão abaixo.</h4>

        <ion-button (click)="goToLogin('login-caminhoneiro')">Caminhoneiro</ion-button>

        <h4>Se você for uma empresa, clique no botão abaixo.</h4><br>

        <ion-button (click)="goToLogin('login-caminhoneiro')">Empresa</ion-button>


      </div>
    </div>
  </div>
</ion-content>