<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon size="large" name="chevron-back-outline" (click)="voltarTelaFrete()"></ion-icon>
    </ion-buttons>
    <ion-title>Detalhes do Frete</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <strong>Origem: </strong>
        <ion-label id="lblOrigem"></ion-label>
      </ion-col>
      <ion-col col-6>
        <strong>Destino: </strong>
        <ion-label id="lblDestino"></ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <strong>Produto: </strong>
        <ion-label id="lblProduto"> </ion-label>
      </ion-col>
      <ion-col col-6>
        <strong>Espécie: </strong>
        <ion-label id="lblEspecie"> </ion-label>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col col-6>
        <strong>Preço: </strong>
        <ion-label id="lblPreco"> </ion-label>
      </ion-col>

      <ion-col col-6>
        <strong>Peso: </strong>
        <ion-label id="lblPeso"> </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <strong>Rastreado </strong>
        <ion-label id="lblRastreado"> </ion-label>
      </ion-col>
      <ion-col col-6>
        <strong>Agenciado </strong>
        <ion-label id="lblAgenciado"> </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <strong>Precisa de lona </strong>
      <ion-label id="lblLona"> </ion-label>
    </ion-row>

    <ion-col col-12>
      <strong>Descrição: </strong>
      <ion-label id="lblDescricao"> </ion-label>
    </ion-col>
    <br>
    <ion-col>
      <strong>Empresa: </strong>
      <ion-label id="lblNmEmpresa"> </ion-label>
    </ion-col>
    <br>

    <ion-col>
      <strong>Contatos: </strong>
      <ion-label id="lblContatoEmpresa"> </ion-label>
    </ion-col>
  </ion-grid>

</ion-content>