<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon size="large" name="chevron-back-outline" (click)="voltarTelaFrete()"></ion-icon>
    </ion-buttons>
    <ion-title>Detalhes do Frete</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <strong>Origem: </strong>
        <ion-label id="lblOrigem"></ion-label>
      </ion-col>
      <ion-col col-6>
        <strong>Destino: </strong>
        <ion-label id="lblDestino"></ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <strong>Produto: </strong>
        <ion-label id="lblProduto"> </ion-label>
      </ion-col>

      <ion-col col-6>
        <strong>Valor: </strong>
        <ion-label id="lblValor"> </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <strong>Rastreado: </strong>
      <ion-label id="lblRastreado"> </ion-label>
    </ion-row>

    <ion-row margin>
      <strong>Agenciado: </strong>
      <ion-label id="lblAgenciado"> </ion-label>
    </ion-row>

    <ion-row>
      <strong>Precisa de lona: </strong>
      <ion-label id="lblLona"> </ion-label>
    </ion-row>

    <ion-col col-12>
      <strong>Descrição: </strong>
      <ion-label id="lblDescricao"> </ion-label>
    </ion-col>
  </ion-grid>

</ion-content>