<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro de Frete</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Insira seus dados</h1>
  <form [formGroup]="formFrete">
    <ion-grid>

      <ion-col col-12>
        <ion-item>
          <ion-label>Empresa</ion-label>
          <ion-select formControlName="empresaId">
            <ion-select-option *ngFor="let empresa of empresas" [value]="empresa.cnpj">{{empresa.nome}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col col-12>
        <ion-item>
          <ion-label>Origem Estado</ion-label>
          <ion-select [(ngModel)]="estadoSelecionado" formControlName="estado_origem" (ionChange)="onChange();">
            <ion-select-option *ngFor="let estado of estados" [value]="estado">{{estado.nome}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-12>
        <ion-item>
          <ion-label>Origem Cidade</ion-label>
          <ion-select [(ngModel)]="cidadeSelecionada" formControlName="cidade_origem">
            <ion-select-option *ngFor="let municipio of municipios" [value]="municipio">{{municipio.nome}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col col-12>
        <ion-item>
          <ion-label>Destino Estado</ion-label>
          <ion-select [(ngModel)]="estadoDestinoSelecionado" formControlName="estado_destino"
            (ionChange)="onChangeDestino();">
            <ion-select-option *ngFor="let estado of estados" [value]="estado">{{estado.nome}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-12>
        <ion-item>
          <ion-label>Destino Cidade</ion-label>
          <ion-select [(ngModel)]="cidadeDestinoSelecionada" formControlName="cidade_destino">
            <ion-select-option *ngFor="let municipio of municipios" [value]="municipio">{{municipio.nome}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col col-12>
        <ion-item>
          <ion-label>Veículo</ion-label>
          <ion-select formControlName="veiculoId">
            <ion-select-option *ngFor="let veiculo of veiculos" [value]="veiculo.id">{{veiculo.veiculo}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col col-12>
        <ion-item>
          <ion-label>Carroceria</ion-label>
          <ion-select formControlName="carroceriaId">
            <ion-select-option *ngFor="let carroceria of carrocerias" [value]="carroceria.id">
              {{carroceria.carroceria}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col col-12>
        <ion-item>
          <ion-label>Preço</ion-label>
          <ion-input formControlName="preco" type="number">
          </ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-12>
        <ion-item>
          <ion-label>Peso (em kgs)</ion-label>
          <ion-input formControlName="peso" type="number">
          </ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-12>
        <ion-item>
          <ion-label>Produto</ion-label>
          <ion-input formControlName="produto">
          </ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-12>
        <ion-item>
          <ion-label>Data Coleta</ion-label>
          <ion-datetime-button datetime="datetime"></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime (ionChange)="getDate($event)" id="datetime" presentation="date" showDefaultButtons="true"
                [min]="dataHoje"></ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>
      </ion-col>

      <ion-col col-12>
        <ion-item>
          <ion-label>Data Entrega</ion-label>
          <ion-datetime-button datetime="datetimeEntrega"></ion-datetime-button>

          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime (ionChange)="getDateEntrega($event)" id="datetimeEntrega" presentation="date"
                showDefaultButtons="true" [min]="dataHoje"></ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>
      </ion-col>

      <ion-col col-12>
        <ion-item>
          <ion-label>Espécie</ion-label>
          <ion-select formControlName="especieId">
            <ion-select-option *ngFor="let especie of especies" [value]="especie.id">
              {{especie.especie}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col col-12>
        <ion-item>
          <ion-label>Rastreamento</ion-label>
          <ion-checkbox slot="end" formControlName="rastreamento"></ion-checkbox>
        </ion-item>
      </ion-col>

      <ion-col col-12>
        <ion-item>
          <ion-label>Agenciamento</ion-label>
          <ion-checkbox slot="end" formControlName="agenciamento"></ion-checkbox>
        </ion-item>
      </ion-col>

      <ion-col col-12>
        <ion-item>
          <ion-label>Lona</ion-label>
          <ion-checkbox slot="end" formControlName="lona"></ion-checkbox>
        </ion-item>
      </ion-col>

      <ion-col col-12>
        <ion-item>
          <ion-label floating>Descrição</ion-label>
          <ion-textarea formControlName="descricao" type="string"></ion-textarea>
        </ion-item>
      </ion-col>

      <ion-button (click)="cadastrar()">
        Cadastrar Frete
      </ion-button>

    </ion-grid>
  </form>
</ion-content>