<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro do Caminhoneiro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Insira seus dados</h1>
  <form action="">
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <ion-select placeholder="Origem Estado">
            <!--<ion-select-option *ngFor="let of " value="veiculo.id">{{veiculo.veiculo}}</ion-select-option>-->
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-select placeholder="Veículo" [multiple]="true">
        <!--dentro de ion-select (ionChange)=""-->
        <ion-select-option *ngFor="let veiculo of veiculos" value="veiculo.id">{{veiculo.veiculo}}</ion-select-option>
      </ion-select>
    </ion-grid>
  </form>
</ion-content>