<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Procura Fretes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Aqui você pode cadastrar um filtro de fretes para receber SMS direto pelo seu celular</h1>
  <form [formGroup]="procuraFreteForm">

    <h2>Insira qual cidade você estará.</h2>

    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <ion-label>CPF</ion-label>
            <ion-select formControlName="cpf">
              <ion-select-option *ngFor="let caminhoneiro of caminhoneiros" [value]="caminhoneiro.cpf">
                {{caminhoneiro.cpf}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <ion-label>Origem Estado</ion-label>
            <ion-select formControlName="estado_origem" (ionChange)="onChange();" [(ngModel)]="estado_origem">
              <ion-select-option *ngFor="let estado of estados" [value]="estado">{{estado.nome}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label>Origem Cidade</ion-label>
            <ion-select formControlName="cidade_origem" [(ngModel)]="cidade_origem">
              <ion-select-option *ngFor="let municipio of municipios" [value]="municipio">{{municipio.nome}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <h2>Selecione a data de quando voce estará na cidade escolhida anteriormente</h2>

    <ion-datetime-button datetime="datetime"></ion-datetime-button>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime (ionChange)="getDate($event)" id="datetime" presentation="date" showDefaultButtons="true"
          [min]="dataHoje"></ion-datetime>
      </ng-template>
    </ion-modal>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Destino Estado</ion-label>
            <ion-select formControlName="estado_destino" (ionChange)="onChangeDestino();" [(ngModel)]="estado_destino">
              <ion-select-option *ngFor="let estado of estadosDestino" [value]="estado">{{estado.nome}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Destino Cidade</ion-label>
            <ion-select formControlName="cidade_destino" [(ngModel)]="cidade_destino">
              <ion-select-option *ngFor="let municipio of municipiosDestino" [value]="municipio">{{municipio.nome}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button class="center" (click)="salvarProcuraFrete()">Cadastrar Notificação</ion-button>
  </form>

</ion-content>